*{
  box-sizing: border-box;

}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;

}
form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
}
button {
  width: 100px;
  padding: 9px;
}
label{
 font-weight: 400;
}
input{
  padding: 9px;
}
button{
  cursor: pointer;
}